
body {
  font-family: 'Lato', monospace;
  color: #313537;
}

.brand--border {
  border-color: #747a7e !important;
}

.brand--ui, .brand--ui *, 
.brand--head, .brand--head * {
  font-family: 'Lato', monospace;
}

